<div class="container text-center">
    <h1>Welcome to the Agenda App</h1>
    <hr/>
    <p>The project was created with Ruby on Rails 6</p>
    <p>Log in with your social accounts</p>
    <p>Create Subjects to teach or be apart of</p>
    <p>Update your attendance on the calander</p>
    <p>Track the money you spend or make from the courses</p>
</div>