<div class="attendance_fields">
  <%= form.input :user_id, collection: @course.users, prompt: "Select..." %>
  <%= form.input :status, collection: Attendance.statuses, as: :radio_buttons, :item_wrapper_class => 'inline', include_blank: false %>
 
  <%= link_to_remove_nested(form) do %>
    <p class= 'btn btn-sm btn-danger'>
      Remove Attendance
    </p>
    <% end %>
</div>
