<div class="enrollment_fields">
  <%= form.association :user, prompt: "Select..." %>
 
  <%= link_to_remove_nested(form) do %>
    <p class='btn btn-sm btn-danger'>
      Remove enrollment
    </p>
    <% end %>
</div>
